header {
    font-weight: bolder;
    color: black;
    background-color: white;
}

body {
    background-color: whitesmoke;
    margin: auto;
    padding: 10px;
    text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color: black;
}
p {
    font-size: 14pt;
    color: black;
}

footer {
    font-weight: bolder;
    text-align: center
}